.heightFitScreen {
    height: 100vh;
}

.heightFitParent {
    height: 100%;
}

.heightFitContent {
    height: fit-content;
}

.heightInherit {
    height: inherit;
}

.height75px {
    height: 75px;
}

.height50px {
    height: 50px;
}

.height350px {
    height: 350px;
}