.widthFitScreen {
    width: 100vw;
}

.widthFitParent {
    width: 100%;
}

.widthFitContent {
    width: fit-content;
}

.widthInherit {
    width: inherit;
}

.width250px {
    width: 250px;
}

.width350px {
    width: 350px;
}

.width450px {
    width: 450px;
}

.width80vw {
    width: 80vw;
}

.width65vw {
    width: 65vw;
}

.width50vw {
    width: 50vw;
}