@import "styles/ruler.css";

@import "styles/background.css";
@import "styles/border-radius.css";
@import "styles/border.css";
@import "styles/height.css";
@import "styles/width.css";
@import "styles/display.css";
@import "styles/vertical-align.css";
@import "styles/font-family.css";
@import "styles/padding.css";
@import "styles/cursor.css";
@import "styles/font-size.css";
@import "styles/margin.css";
@import "styles/text-align.css";
@import "styles/position.css";
@import "styles/left.css";
@import "styles/right.css";

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
}