* {
  box-sizing: border-box;
}

:root {
  --primary-color: #5b1201;
  --secondary-color: #ecad22;
}

body {
  background-color: var(--primary-color);
}
/* ========================== common - dung chung ========================*/
.header a {
  text-decoration: none;
}

.list li a {
  display: inline-block;
  padding: 8px 20px;
  border: 1px solid var(--secondary-color);
  width: 230px;
  text-align: center;
}
/*============================= navbar ========================================== */
.header {
  width: 100%;
  /* height: 736px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}

.navbar a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 4px 8px;
}

.user .fa-user {
  color: var(--secondary-color);
  font-size: 20px;
}

.contact .fa-phone {
  color: var(--secondary-color);
  font-size: 20px;
}

.container-header {
  border-bottom: 3px solid var(--secondary-color);
}

.user #sign-in {
  border-right: 1px solid #fff;
}
.contact a:hover {
  color: var(--secondary-color);
}
.user a:hover {
  color: var(--secondary-color);
}
/* =====================logo, finding, list - after header=============================== */
.container-after-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-after-header .logo img {
  width: 405px;
  height: 153px;
}

/* ======================== Input - finding ==========================*/
.container-after-header .finding input {
  width: 500px;
  height: 35px;
  border-radius: 15px;
}

.container-after-header .finding {
  position: relative;
  margin-left: 90px;
}

.container-after-header .fa-magnifying-glass {
  position: absolute;
  top: 7px;
  right: 20px;
  font-size: 20px;
}
/*  =================================== List ============================*/
.container-after-header .list {
  margin-left: 100px;
}

.container-after-header .list a {
  color: #fff;
}

.sub-list {
  position: relative;
}

.list-item {
  position: absolute;
  display: none;
}

.list-item li:hover {
  background-color: var(--secondary-color);
}

.sub-list > li:hover .list-item {
  display: block;
}

.sub-list {
  position: relative;
}

.sub-list .fa-gem {
  position: absolute;
  top: 7px;
  right: 5px;
  color: var(--secondary-color);
  font-size: 20px;
}
/* ==================================Giỏ hàng==================================== */
.container-after-header .cart {
  margin-left: 20px;
  border: 1px solid var(--secondary-color);
  width: 150px;
  padding: 8px 16px;
}

.cart {
  position: relative;
  text-align: center;
}

.cart .fa-cart-shopping {
  position: absolute;
  right: 5px;
  top: 9px;
  color: var(--secondary-color);
}
.cart a {
  display: inline-block;
  color: #fff;
}
/* Hover cho 2 phần tử list và cart */
.cart a:hover {
  color: var(--secondary-color);
}

.list .sub-list > li > a:hover {
  color: var(--secondary-color);
}

/* ===================================== MENU ============================================*/
.menu {
  margin-top: 20px;
  border-bottom: 2px solid var(--secondary-color);
}
.sub-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sub-menu li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 8px 16px;
}

.sub-menu > li > a:hover {
  color: var(--secondary-color);
  /* font-weight: bold; */
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}
