* {
  box-sizing: border-box;
}

:root {
  --primary-color: #5b1201;
  --secondary-color: #ecad22;
}

body {
  background-color: var(--primary-color);
}
/* ========================== common - dung chung ========================*/
.header a {
  text-decoration: none;
}

.list li a {
  display: inline-block;
  padding: 8px 20px;
  border: 1px solid var(--secondary-color);
  width: 230px;
  text-align: center;
}
/*============================= navbar ========================================== */
.header {
  width: 100%;
  /* height: 736px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}

.navbar a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 4px 8px;
}

.user .fa-user {
  color: var(--secondary-color);
  font-size: 20px;
}

.contact .fa-phone {
  color: var(--secondary-color);
  font-size: 20px;
}

.container-header {
  border-bottom: 3px solid var(--secondary-color);
}

.user #sign-in {
  border-right: 1px solid #fff;
}
.contact a:hover {
  color: var(--secondary-color);
}
.user a:hover {
  color: var(--secondary-color);
}
/* =====================logo, finding, list - after header=============================== */
.container-after-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-after-header .logo img {
  width: 405px;
  height: 153px;
}

/* ======================== Input - finding ==========================*/
.container-after-header .finding input {
  width: 500px;
  height: 35px;
}

.container-after-header .finding {
  position: relative;
  margin-left: 90px;
}

.container-after-header .fa-magnifying-glass {
  position: absolute;
  top: 7px;
  right: 20px;
  font-size: 20px;
}
/*  =================================== List ============================*/
.container-after-header .list {
  margin-left: 100px;
}

.container-after-header .list a {
  color: #fff;
}

.sub-list {
  position: relative;
}

.list-item {
  position: absolute;
  display: none;
}

.list-item li:hover {
  background-color: var(--secondary-color);
}

.sub-list > li:hover .list-item {
  display: block;
}

.sub-list {
  position: relative;
}

.sub-list .fa-gem {
  position: absolute;
  top: 7px;
  right: 5px;
  color: var(--secondary-color);
  font-size: 20px;
}
/* ==================================Giỏ hàng==================================== */
.container-after-header .cart {
  margin-left: 20px;
  border: 1px solid var(--secondary-color);
  width: 150px;
  padding: 8px 16px;
}

.cart {
  position: relative;
  text-align: center;
}

.cart .fa-cart-shopping {
  position: absolute;
  right: 5px;
  top: 9px;
  color: var(--secondary-color);
}
.cart a {
  display: inline-block;
  color: #fff;
}
/* Hover cho 2 phần tử list và cart */
.cart a:hover {
  color: var(--secondary-color);
}

.list .sub-list > li > a:hover {
  color: var(--secondary-color);
}

/* ===================================== MENU ============================================*/
.menu {
  margin-top: 20px;
}

.sub-menu {
  display: flex;
  justify-content: center;
}

.sub-menu li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 8px 16px;
}

.sub-menu > li > a:hover {
  color: var(--secondary-color);
  font-weight: bold;
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

/* =============================== Contact======================================== */
.container-info {
  padding: 20px 40px;
  margin-top: 30px;
  border-top: 2px solid var(--secondary-color);
  text-align: justify;
  font-size: 20px;
}

.container-info .logo h2 {
  font-size: 30px;
  color: var(--secondary-color);
  font-weight: bold;
  text-align: left;
}
.container-info .logo {
  text-align: center;
}
.container-info .logo img {
  width: 402px;
  height: 153px;
}
.container-info .Box-Square {
  height: 300px;
  border: solid 2px var(--secondary-color);
  border-radius: 15px;
  padding: 20px;
  margin: 50px;
}

.container-info .Box-Square .Box-Circle {
  top: -215px;
  left: 25px;
  position: relative;
  border: solid 2px var(--secondary-color);
  width: 220px;
  height: 220px;
  border-radius: 999px;
  background-position: center center;
}

.container-info .Box-Circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.container-info .Box-Square .content h1 {
  color: var(--secondary-color);
  font-size: 30px;
  padding-top: 25px;
  padding-left: 300px;
  padding-bottom: 8px;
  font-weight: bold;
  word-spacing: 5px;
}
.container-info .Box-Square .content p {
  top: 530px;
  color: white;
  font-size: 25px;
  padding-left: 300px;
  padding-bottom: 8px;
}
.container-info .Box-Square .content #highlight-words {
  color: var(--secondary-color);
}

.container-info .contact-icon {
  padding-top: 8px;
  padding-left: 290px;
}

.container-info .contact-icon i {
  color: var(--secondary-color);
  font-size: 50px;
  padding: 5px;
}

/* ================================FOOTER - CHÂN TRANG======================================= */
.footer {
  margin-top: 60px;
  padding: 40px 40px 0;
  border-bottom: 2px solid var(--secondary-color);
  border-top: 2px solid var(--secondary-color);
}

.footer .title {
  font-size: 32px;
  color: var(--secondary-color);
  font-weight: bold;
}
.footer .container-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .container-footer i {
  font-size: 40px;
  color: var(--secondary-color);
}

.footer .container-footer .input-gmail input {
  width: 400px;
  height: 40px;
  margin-left: 20px;
}

.footer .container-footer .btn-sign-up a {
  display: inline-block;
  min-width: 145px;
  text-align: center;
  padding: 12px 32px;
  background-color: var(--secondary-color);
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  border-radius: 12px;
}

/* infor store */
.info-store {
  margin-top: 30px;
}

.info-store .title-info {
  font-size: 24px;
  color: var(--secondary-color);
  font-weight: bold;
}

.info-store .info-store-title {
  margin-top: 10px;
  line-height: 1.4;
  color: var(--secondary-color);
  font-size: 20px;
}

.info-store .info-store-title a {
  text-decoration: none;
  color: var(--secondary-color);
}

.info-store .highlight p {
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
