* {
  box-sizing: border-box;
}

:root {
  --primary-color: #5b1201;
  --secondary-color: #ecad22;
}

body {
  background-color: var(--primary-color);
}
/* ========================== common - dung chung ========================*/
.header a {
  text-decoration: none;
}

.list li a {
  display: inline-block;
  padding: 8px 20px;
  border: 1px solid var(--secondary-color);
  width: 230px;
  text-align: center;
}
/*============================= navbar ========================================== */
.header {
  width: 100%;
  /* height: 736px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}

.navbar a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 4px 8px;
}

.user .fa-user {
  color: var(--secondary-color);
  font-size: 20px;
}

.contact .fa-phone {
  color: var(--secondary-color);
  font-size: 20px;
}

.container-header {
  border-bottom: 3px solid var(--secondary-color);
}

.user #sign-in {
  border-right: 1px solid #fff;
}
.contact a:hover {
  color: var(--secondary-color);
}
.user a:hover {
  color: var(--secondary-color);
}
/* =====================logo, finding, list - after header=============================== */
.container-after-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-after-header .logo img {
  width: 405px;
  height: 153px;
}

/* ======================== Input - finding ==========================*/
.container-after-header .finding input {
  width: 500px;
  height: 35px;
  border-radius: 15px;
}

.container-after-header .finding {
  position: relative;
  margin-left: 90px;
}

.container-after-header .fa-magnifying-glass {
  position: absolute;
  top: 7px;
  right: 20px;
  font-size: 20px;
}
/*  =================================== List ============================*/
.container-after-header .list {
  margin-left: 100px;
}

.container-after-header .list a {
  color: #fff;
}

.sub-list {
  position: relative;
}

.list-item {
  position: absolute;
  display: none;
}

.list-item li:hover {
  background-color: var(--secondary-color);
}

.sub-list > li:hover .list-item {
  display: block;
}

.sub-list {
  position: relative;
}

.sub-list .fa-gem {
  position: absolute;
  top: 7px;
  right: 5px;
  color: var(--secondary-color);
  font-size: 20px;
}
/* ==================================Giỏ hàng==================================== */
.container-after-header .cart {
  margin-left: 20px;
  border: 1px solid var(--secondary-color);
  width: 150px;
  padding: 8px 16px;
}

.cart {
  position: relative;
  text-align: center;
}

.cart .fa-cart-shopping {
  position: absolute;
  right: 5px;
  top: 9px;
  color: var(--secondary-color);
}
.cart a {
  display: inline-block;
  color: #fff;
}
/* Hover cho 2 phần tử list và cart */
.cart a:hover {
  color: var(--secondary-color);
}

.list .sub-list > li > a:hover {
  color: var(--secondary-color);
}

/* ===================================== MENU ============================================*/
.menu {
  margin-top: 20px;
  border-bottom: 2px solid var(--secondary-color);
}
.sub-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sub-menu li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  padding: 8px 16px;
}

.sub-menu > li > a:hover {
  color: var(--secondary-color);
  font-weight: bold;
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

/* ==================== LIST PRODUCT========================================== */
.product-internal {
  margin-top: 20px;
  /* gap: px; */
  /* padding: 20px 40px; */
}

.product-internal .title {
  font-size: 32px;
  color: var(--secondary-color);
  font-weight: bold;
  text-align: center;
}

.product-internal .list-product {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.product-internal .list-product .list-item-product {
  background-color: #ddd;
  line-height: 2.5;
  margin-bottom: 10px;
  min-height: 420px;
  border-radius: 12px;
  box-shadow: -11px 15px 25px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -11px 15px 25px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 15px 25px -3px rgba(255, 255, 255, 0.75);
}

.product-internal .list-product .list-item-product:hover {
  filter: brightness(128%) saturate(327%);
  -webkit-filter: brightness(128%) saturate(327%);
  -moz-filter: brightness(128%) saturate(327%);
  transition: 0.4s all;
}

.product-internal .list-product .list-item-product img {
  width: 284px;
  height: 284px;
  border-radius: 12px;
  object-fit: cover;
}

.product-internal .list-product .info {
  text-align: center;
}

.product-internal .list-product .info h4 {
  color: black;
  font-weight: bold;
}
.product-internal .list-product .info p {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 12px;
  background-color: red;
  color: #fff;
  font-weight: bold;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.8);
}
.product-internal .list-product .info a {
  text-align: center;
  font-size: 20px;
  padding: 5px 0;
  line-height: 1.4;
  color: #fff;
  text-decoration: none;
}

.product-internal .list-product .info .btn-add-cart {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.product-internal .list-product .info .btn-add-cart:hover {
  background-color: var(--primary-color);
}

/* =============================FOOTER - CHÂN TRANG=============================================== */
.footer {
  margin-top: 60px;
  padding: 40px 40px 0;
  border-bottom: 2px solid var(--secondary-color);
  border-top: 2px solid var(--secondary-color);
}

.footer .title {
  font-size: 32px;
  color: var(--secondary-color);
  font-weight: bold;
}
.footer .container-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .container-footer i {
  font-size: 40px;
  color: var(--secondary-color);
}

.footer .container-footer .input-gmail input {
  width: 400px;
  height: 40px;
  margin-left: 20px;
}

.footer .container-footer .btn-sign-up a {
  display: inline-block;
  min-width: 145px;
  text-align: center;
  padding: 12px 32px;
  background-color: var(--secondary-color);
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  border-radius: 12px;
}

/* infor store */
.info-store {
  margin-top: 30px;
}

.info-store .title-info {
  font-size: 24px;
  color: var(--secondary-color);
  font-weight: bold;
}

.info-store .info-store-title {
  margin-top: 10px;
  line-height: 1.4;
  color: var(--secondary-color);
  font-size: 20px;
}

.info-store .info-store-title a {
  text-decoration: none;
  color: var(--secondary-color);
}

.info-store .highlight p {
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
